<div class="col-4 mx-2 mt-2">
  <div class="card bg-dark text-white mt-2" style="border-radius: 1rem" *ngFor="let user of personalList">
    <div class="card-body p-2 text-center">
      <div>
        <h5> {{user.name}}</h5>
        <button class="btn btn-success" [routerLink]="['user',user.id]">Details</button>
        <button class="btn btn-danger ml-2" (click)="open(content,user)">Delete</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Do you really want to delete this contact?</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</ng-template>
